
<% content_for :page_title, "search results for \"#{@query}\"" %>

<div id="results_container">
	
	<div id="result_search_form">
		<%= form_tag( 'search', {:method => 'get'}) do %>
		   <%= text_field_tag :q, @query %>
		   <% # => <input id="search_box" name="search_box" placeholder="Start your search" type="text" /> %>
		   <!--<%= submit_tag 'Search', :id => "search_button" %>-->
		<% end %>
	</div>

	<!--<h1 id="queryline">search results for "<%= @query %>"</h1>-->

	<% unless @results.nil? || @results.empty? %>
		<ol class="result_list">
		<% @results.each do |resitem| %>
		  <li class="result_item">
			<p class="item_name"><%= resitem["path"].split("/").last %></p>
			<div class="item_info">
				<p class="item_descr">
					<%= pretty_bytes_string(resitem["bytes"]) %> 
					<span class="sepdot">•</span> 
					<% if resitem["entity_type"] == "directory" %>
						Directory <span class="sepdot">•</span> <%= resitem["item_count"] %> Items
					<% else %>
						<%= KindTab.find(resitem["kind_id"]).description %>
					<% end %>
				</p>
				<p class="item_path">
					<%= resitem["path"] %>
				</p>
				<!--<p class="item_path"><%= resitem["path"] %></p>-->
			</div>
		  </li>
		<!--<hr class="seperator" align="left" width="400" />-->
		<% end %>
		</ol>
	<% else %>
		<p class="item_name" id="notfound">Nothing found</p>
	<% end %>
</div>